<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <script class="include" type="text/javascript" src="/static/jquery.min.js"></script>
        <script class="include" type="text/javascript" src="/static/jquery.jqplot.min.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.meterGaugeRenderer.js"></script>
        <title>Temperature and Humidity WebLog</title>
    </head>
    <body>
		<script type='text/javascript'>
$(document).ready(function () {
    
    update_plot = function(plot_id, data, is_temperature) {
        // data: sensor_id, sensor_name, timestamp, temp, hum
        if (is_temperature) {
            var value = data[3]
            var svalue = data[3] + '&#176;C'
            var max_value = 50
            var intervals = [15, 25, 40, 50]
            var intervalColors = ['#268bd2', '#859900', '#c59900', '#dc322f']
        } else {
            var value = data[4]
            var svalue = data[4] + '&#37;'
            var max_value = 100
            var intervals = [40, 60, 100]
            var intervalColors = ['#c59900', '#859900', '#c59900']
        }
        var title = data[1] + ': ' + svalue
        var plot = $.jqplot(plot_id, [[value]], {
            title: title,
            height: 300,
            width: 400,
            seriesDefaults: {
                renderer: $.jqplot.MeterGaugeRenderer,
                rendererOptions: {
                    label: data[2],
                    labelPosition: 'bottom',
                    min: 0,
                    max: max_value,
                    intervalOuterRadius: 100,
                    intervals: intervals,
                    intervalColors: intervalColors

                
                }
            }
        
        
        })
    }

    {% for plot_data in [temperatures, humidities ] %}
        {% set outer_index = loop.index %}
        {% for sensor_id, timestamp, tuples in plot_data %}
            update_plot('chart{{ outer_index }}_{{ loop.index }}',
                        [{{ sensor_id }}, '{{ sensor_map[sensor_id] }}', '{{ timestamp }}', {{ tuples|safe }}[0], {{ tuples|safe }}[0]],
                        {% if outer_index == 1 %}true{% else %}false{% endif %})
        {% endfor %}
    {% endfor %}
    


	})
		</script>
        <div id='content_container' class='content'>
        <h3>Gauges</h3>
        <h4><a href='..'>back</a></h4>
            <h4 style='text-align: center'>
                Temperature
            </h4>
            <div>
            {% for sensor_id, timestamp, tuples in temperatures %}
			<div style='height: 300; width: 400;' id='chart1_{{ loop.index }}'></div>
			{% endfor %}
			</div>
            <h4 style='text-align: center'>
                Relative Humidity
            </h4>
            {% for sensor_id, timestamp, tuples in humidities %}
			<div style='height: 300; width: 400;' id='chart2_{{ loop.index }}'></div>
			{% endfor %}
        </div>
        <div id='footer'>Outside <a style='color: lightgray' href='https://darksky.net/poweredby/'>Powered by Darksky</a></div>
    </body>
</html>
