{% extends 'base.html' %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.min.css" />
        <script class="include" type="text/javascript" src="/static/jquery.min.js"></script>
        <script class="include" type="text/javascript" src="/static/jquery.jqplot.min.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.dateAxisRenderer.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.cursor.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.highlighter.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.enhancedLegendRenderer.js"></script>
    {% endblock  %}
    {% block bodyscript %}
		<script type='text/javascript'>
$(document).ready(function () {
    update_plot = function(plot_id, data) {
        var values = []
        var series_data = []
        $.each(data, function(idx, sensor_data) {
            values.push(sensor_data[2])
            series_data.push({label: sensor_data[1]})
        })
        $(plot_id).empty()
        var plot = $.jqplot(plot_id, values, {
            // animate: true,
            // animateReplot: true,
            cursor: {
                show: true,
                zoom: true,
                looseZoom: true,
                showTooltip: false,
            },
            highlighter: {
                show: true,
            },
            legend: {
                show: true,
                location: 'nw',
                renderer: $.jqplot.EnhancedLegendRenderer,
                rendererOptions: {
                    seriesToggle: 'normal',
                },
            },
            axes:{
                xaxis:{
                    renderer:$.jqplot.DateAxisRenderer
                },
            },
            seriesDefaults: {
                showMarker: false,
            },
            series: series_data,
        })
        $(window).resize(function() {
                    plot.replot( { resetAxes: true } );
            });
    }
   

    history_callback = function(plot_id) {
    
        return function(data, status, res) {
                update_plot(plot_id, data)
        }
    }
    call_update = function() {
        var args = {type: 'GET', url: '../api/history?tz={{ timezone }}&type=t', success: history_callback('chart_t')}
        $.ajax(args)

        var args = {type: 'GET', url: '../api/history?tz={{ timezone }}&type=h', success: history_callback('chart_h')}
        $.ajax(args)
    }

    call_update()

	})
		</script>
	{% endblock %}
	{% block content %}
        <h3>Plots</h3>
        <h4><a href='..'>back</a></h4>
        <input type='submit' id='update_button' value='update' class='jsbtn' />
        <script>
        $('#update_button').click(function() { call_update() })
        </script>
            <h4 style='text-align: center'>
                Temperature
            </h4>
			<div id='chart_t'></div>
            <h4 style='text-align: center'>
                Relative Humidity
            </h4>
			<div id='chart_h'></div>
	{% endblock %}
