<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <script class="include" type="text/javascript" src="/static/jquery.min.js"></script>
        <script class="include" type="text/javascript" src="/static/jquery.jqplot.min.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.dateAxisRenderer.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.cursor.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.highlighter.js"></script>
        <title>Temperature and Humidity WebLog</title>
    </head>
    <body>
		<script type='text/javascript'>
$(document).ready(function () {
    {% for plot_data in [temperatures, humidities ] %}
        {% for sensor_id, tuples in plot_data.items() %}
            var s{{ sensor_id }} = {{ tuples|safe }};
        {% endfor %}
        plot{{ loop.index }} = $.jqplot("chart{{ loop.index }}", [{% for sensor_id in plot_data %}s{{ sensor_id }},{% endfor %}], {
            // Turns on animatino for all series in this plot.
            animate: true,
            // Will animate plot on calls to plot1.replot({resetAxes:true})
            animateReplot: true,
            cursor: {
                show: true,
                zoom: true,
                looseZoom: true,
                showTooltip: false
            },
            highlighter: {
                show: true
            },
            legend: {
                show: true
            },
            axes:{
                xaxis:{
                    renderer:$.jqplot.DateAxisRenderer
                    }
                },
            seriesDefaults: {
                showMarker: false,
            }
            series:[
            ]
            }
        );
    {% endfor %}
{#
    {% for sensor_id, h_tuples in humidities.items() %}
        var s{{ sensor_id }} = {{ h_tuples|safe }};
    {% endfor %}
    plot1 = $.jqplot("hum_chart", [{% for sensor_id in humidities %}s{{ sensor_id }},{% endfor %}], {
        // Turns on animatino for all series in this plot.
        animate: true,
        // Will animate plot on calls to plot1.replot({resetAxes:true})
        animateReplot: true,
        cursor: {
            show: true,
            zoom: true,
            looseZoom: true,
            showTooltip: false
        },
        axes:{
            xaxis:{
                renderer:$.jqplot.DateAxisRenderer
                }
            },
        series:[]
		}
	) #}
	})
		</script>
        <div id='content_container' class='content'>
        <h3>Plots</h3>
            <h4 style='text-align: center'>
                Temperature
            </h4>
			<div id='chart1'></div>
            <h4 style='text-align: center'>
                Relative Humidity
            </h4>
			<div id='chart2'></div>
        </div>
    </body>
</html>
