<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <script class="include" type="text/javascript" src="/static/jquery.min.js"></script>
        <script class="include" type="text/javascript" src="/static/jquery.jqplot.min.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.dateAxisRenderer.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.cursor.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.highlighter.js"></script>
        <script class="include" type="text/javascript" src="/static/plugins/jqplot.enhancedLegendRenderer.js"></script>
        <title>Temperature and Humidity WebLog</title>
    </head>
    <body>
		<script type='text/javascript'>
$(document).ready(function () {
    {% for plot_data in [temperatures, humidities ] %}
        {% for sensor_id, tuples in plot_data %}
            var s{{ sensor_id }} = {{ tuples|safe }};
        {% endfor %}
        plot{{ loop.index }} = $.jqplot("chart{{ loop.index }}", [{% for sensor_id, tuples  in plot_data %}s{{ sensor_id }},{% endfor %}], {
            // Turns on animatino for all series in this plot.
            animate: true,
            // Will animate plot on calls to plot1.replot({resetAxes:true})
            animateReplot: true,
            cursor: {
                show: true,
                zoom: true,
                looseZoom: true,
                showTooltip: false
            },
            highlighter: {
                show: true
            },
            legend: {
                show: true,
                location: 'nw',
                renderer: $.jqplot.EnhancedLegendRenderer,
                rendererOptions: {
                    seriesToggle: 'normal'
                }
            },
            axes:{
                xaxis:{
                    renderer:$.jqplot.DateAxisRenderer
                    }
                },
                yaxis:{
                {% if loop.index == 2 %}
                min: 0,
                max: 100,
                {% endif %}
                },
            seriesDefaults: {
                showMarker: false,
            },
            series:[
            {% for sensor_id, tuples in plot_data %}
                {
                    label: '{{ sensor_map[sensor_id] }}'
                },
            {%- endfor %}
            ]
            
            }
        );
        $(window).resize(function() {
                plot{{ loop.index }}.replot( { resetAxes: true } );
        });
    {% endfor %}
	})
		</script>
        <div id='content_container' class='content'>
        <h3>Plots</h3>
        <h4><a href='..'>back</a></h4>
            <h4 style='text-align: center'>
                Temperature
            </h4>
			<div id='chart1'></div>
            <h4 style='text-align: center'>
                Relative Humidity
            </h4>
			<div id='chart2'></div>
        </div>
        <div id='footer'>Outside <a style='color: lightgray' href='https://darksky.net/poweredby/'>Powered by Darksky</a></div>
    </body>
</html>
